.container {
  &__header {
    display: flex;
    justify-content: center;
    height: 90em;
  }

}

.container {
  &__image {
    background-image: url("../../assets/Home-Hero-Image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 100%;
    width: 50%;
  }
}

.container {
  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    width: 885px;
  }
}

.nav {
  &__header {
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    height: 36px;
    margin-bottom: 20px;
    li {
      padding: 10px;
    }
    &-detail:hover {
      border: 1px solid black!important;
      cursor: pointer;
      }
    }
}

.container {
  &__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 107px;
    h2 {
      font-size: 38px;
      font-weight: lighter;
      text-align: center;
    }
  }
}

.container {
  &__ul {
    display: flex;
    justify-content: center;
    align-items: center;
    div {
      font-size: 36px;
      line-height: 40px;
      color: $color-darkgrey;
      text-transform: uppercase;
      text-align: center;
      width: 310px;
      height: 120px;
      border: 1px solid $color-darkgrey;
      margin: 20px;
      padding: 15px 10px;
    }
  }
}