@import "settings/fonts";
@import "settings/colors";
@import "generic/reset";
@import "elements/homeheader";
@import "elements/homethreecolumns";
@import "elements/homefoursteps";
@import "elements/homeaboutus";
@import "elements/homecontactus";
@import "elements/homeorganizations";
@import "elements/loginin";

.container {
  font-family: $font-base;
  max-width: 3000px;
  margin: 0 auto;
}

.hidden {
  display: none;
}



